@media screen and (max-width: 959px) {
	/* all */
	body {
		font-size: 14px;
	}

	.container {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 20px;
	}

	/* btn hover */
.btn:hover {
	background: #333;
	border: 1px solid #333;
	color: #fff;
}

.btn:hover::after {
	border-color: transparent transparent transparent #fff;
}

	/* top */
.top_texts p {
	padding: 0 30px;
	font-size: 16px;
}

.top_imges {
	height: auto;
}

.top_imges img {
	max-width: 320px;
	min-width: 130px;
	right: 50%;
}

/* about */
.top_about_img img {
	max-width: 150px;
	min-width: 100px;
}

.top_about_texts {
	max-width: 350px;
}

/* works */
.mask {
	display: none;
}

/* footer */
.sns_btns {
	padding-top: 13px;
}

}