@media screen and (max-width: 959px) {
	/* all */
	body {
		font-size: 14px;
	}

	.container {
		width: 600px;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 10px;
	}

	/* btn hover */
.btn:hover {
	background: #333;
	border: 1px solid #333;
	color: #fff;
}

.btn:hover::after {
	border-color: transparent transparent transparent #fff;
}

	/* top */
.top_texts p {
	padding: 0 30px;
	font-size: 16px;
}

.top_images {
	height: auto;
}

.top_images img {
	max-width: 320px;
	min-width: 130px;
	right: 50%;
}

/* about */
.top_about_img img {
	max-width: 150px;
	min-width: 100px;
}

.top_about_texts {
	max-width: 350px;
}

/* works */
.mask {
	display: none;
}

/* footer */
.sns_btns {
	padding-top: 13px;
}

/* ---------- ABOUT PAGE ---------- */
/* service */
.s_item h3 {
	font-size: 0.8rem;
}

.s_lists {
	font-size: 0.7rem;
}

/* skill */	
.skills_list {
	max-width: 260px;
	width: 100%;
}

/* ---------- WORKS PAGE ---------- */
.works_items ul li a img {
	max-width: 180px;
	min-width: 130px;
	padding: 20px 10px;
}

/* modal_content */
.modal_content {
	width: 80%;
}

}