/* all */
body {
	font-family: "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.05em;
}

h1,h2 {
	font-family: 'Caveat', cursive;
	font-weight: bold;
}

h1 {
	font-size: 3.5rem;
	padding: 30px 0;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
}

.br_sp {
	display: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 50px;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.btn {
	display: inline-block;
	background: #333;
	border: 1px solid #333;
	color: #fff;
	font-size: 1.5rem;
	padding: 2px 40px 5px;
	margin-top: 20px;
	position: relative;
}

.btn::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 13px;
	right: 12px;
	border-style: solid;
	border-width: 10px 0 10px 13px;
	border-color: transparent transparent transparent #fff;
}

.btn_more {
	border-radius: 35px;
}

/* btn hover */
.btn:hover {
	background-color: #fff;
	border: 1px solid #555;
	color: #555;
	transition: all .5s;
}

.btn:hover::after {
	border-color: transparent transparent transparent #555;
	transition: all .5s;
}

/* ---------- TOP PAGE ---------- */
/* header */
header {
	height: 200px;
}

.header {
	position: fixed;
	inset: 0;
	top: 0;
	margin: 0 auto;
	height: 200px;
	background-color: #fff;
	z-index: 1;
}

nav li {
	display: inline-block;
	padding: 0 20px;
}

nav li a {
	color: #555;
	cursor: pointer;
	display: block;
	position: relative;
	padding: 0 5px;
}

nav li a::before {
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 3px solid #555;
	position: absolute;
	display: block;
}

nav li a:hover::before {
	width: 50%;
	border-bottom: 3px solid #555;
}

nav li a::after {
	content: '';
	width: 0;
	right: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 3px solid #555;
	position: absolute;
	display: block;
}

nav li a:hover::after {
	width: 50%;
	border-bottom: 3px solid #555;
}

/* top */
.top {
	padding: 50px 0;
}

.top_texts p {
	writing-mode: vertical-rl;
	text-orientation: upright;
	padding: 0 60px;
	font-size: 17px;
}

.top_imges {
	height: 450px;
	position: relative;
}

.top_imges img {
	max-width: 503px;
	min-width: 130px;
	position: absolute;
	right: calc(50% + 70px);
	opacity: 0;
}

.top_imges img.current {
	opacity: 1;
}

/* about */
.top_about {
	background: #f2f2f2;
	padding: 50px 0;
}

.top_about_img {
	position: relative;
}

.top_about_img img {
	max-width: 180px;
	min-width: 150px;
	position: absolute;
	opacity: 0;
}

.top_about_img img.stream {
	opacity: 1;
}

.top_about_texts {
	max-width: 600px;
}

/* works */
.top_works {
	padding: 50px 0;
	text-align: center;
}

.top_works_items img {
	max-width: 250px;
	min-width: 180px;
	padding: 0 10px;
}

.top_works_items img {
	width: 100%;
}

.top_works_items a {
	position: relative;
}

/* works animetion */
.animate {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity .8s, transform .8s;
}

.animate.appear {
	opacity: 1;
	transform: none;
}

.animate.delay {
	transition-delay: .3s;
}

.animate.delay_more {
	transition-delay: .8s;
}

/* works hover */
.mask {
	width: 90%;
	height: 68%;
	position: absolute;
	top: 8px;
	left: 5%;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 5.5;
	color: #fff;
}

.mask:hover {
	opacity: 1;
}

/* contact */
.contact {
	background: #f2f2f2;
	padding: 50px 0;
	text-align: center;
}

.contact p {
	padding: 20px 0;
}

/* footer */
footer {
	background: #535353;
	padding: 30px 0;
	text-align: center;
}

.sns_icons img,.sns_btn {
	margin: 0 10px;
}

.sns_icons.flex {
	justify-content: center;
}

.sns_icons a:hover {
	opacity: 0.5;
	transition: opacity .5s;
}

.sns_btns {
	padding-top: 10px;
}

.sns_btn {
	background-color: #f2f2f2;
	color: #535353;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 25px;
}

footer p {
	color: #fff;
	font-size: 10px;
	padding-top: 20px;
}